Make sure you fill in any place that says `YOUR CODE HERE` or `YOUR ANSWER HERE`, as well as your name below:

In [41]:
NAME = "Yinglu Deng"

---

# Lab 1 - Data Preprocessing

Data transformations are useful for preparing a dataset for answering a particular question. Part of this process involves generating features from the dataset you find relevant to the question at hand. For this lab, we will be using a Yelp reviews dataset. Each row in the dataset depicts one review along with the features of the review (the reviewer, the review text, etc.). The goal of this lab is to convert this reviews dataset into a reviewers dataset by creating different features of each reviewer.

The submission for this assignment should be done *individually*.

# Environment Setup
Run this cell to setup your environment.

In [42]:
# Importing libraries
import pandas as pd
import math
import numpy as np
import os
print('Libraries Imported')

#DOWNLOADING DATASET IF NOT PRESENT
!wget -nc http://askoski.berkeley.edu/~zp/yelp_reviews.csv

#!unzip yelp_reviews.zip
print('Dataset Downloaded: yelp_reviews.csv')
df=pd.read_csv('yelp_reviews.csv')
print(df.head())

print('Setup Complete')

Libraries Imported
File ‘yelp_reviews.csv’ already there; not retrieving.

Dataset Downloaded: yelp_reviews.csv
     type             business_id  ... useful_votes  funny_votes
0  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            0
1  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            0
2  review  kK4AzZ0YWI-U2G-paAL7Fg  ...            0            0
3  review  mxrXVZWc6PWk81gvOVNOUw  ...            1            0
4  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            1

[5 rows x 9 columns]
Setup Complete

**Q1: What was the highest number of reviews for any one business_id?**
- For this task, we will need to group the reviews dataset by business_id. This will aggregate data for each business, which is what we need. This can be done using [groupby](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html).
    - ```yelp_businesses = yelp_dataset.groupby('business_id').size() ```
    - The .size() counts the number of instances for each business_id, which gives us the number of reviews as each instance in this dataset is a review.
    - The following command will sort this list, after which you can take note of the highest value: ```sorted_yelp_businesses = yelp_businesses.sort_values(ascending=False, inplace=False)```
    - This approach allows you to see the data structure being used in the sort. A quicker approach to getting the max would be to use the max function: ```max(yelp_businesses)```
<br>
<br>

In [43]:
df.head()

     type             business_id  ... useful_votes  funny_votes
0  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            0
1  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            0
2  review  kK4AzZ0YWI-U2G-paAL7Fg  ...            0            0
3  review  mxrXVZWc6PWk81gvOVNOUw  ...            1            0
4  review  mxrXVZWc6PWk81gvOVNOUw  ...            0            1

[5 rows x 9 columns]

In [44]:
#Make sure you return the answer value in this function
def q1(df):
    
    # YOUR CODE HERE
    yelp_businesses = df.groupby('business_id').size()
    return max(yelp_businesses.sort_values(ascending=False, inplace=False))

    raise NotImplementedError()

In [45]:
#This is an autograded cell, do not edit
print(q1(df))

4128

**Q2: What was the average number of reviews for a business_id?**

In [46]:
#Make sure you return the answer value in this function
def q2(df):
    
    # YOUR CODE HERE
    yelp_businesses = df.groupby('business_id').size()
    return np.mean(yelp_businesses)

    raise NotImplementedError()

In [47]:
#This is an autograded cell, do not edit
print(q2(df))

12.63413902163123

**Q3: What is the average number of reviews per reviewer?**

In [48]:
#Make sure you return the answer value in this function


def q3(df):
    
    # YOUR CODE HERE
    reviewer  = df.groupby('user_id').size()
    return np.mean(reviewer)

    raise NotImplementedError()

In [49]:
#This is an autograded cell, do not edit
print(q3(df))

3.188511934933203

**Q4: Calculate the total cool votes per reviewer, then average these totals across reviewers.**

In [50]:
#Make sure you return the answer value in this function
def q4(df):
    
    # YOUR CODE HERE
    reviewer  = df.groupby('user_id').sum()
    return np.mean(reviewer['cool_votes'])

    raise NotImplementedError()

In [51]:
#This is an autograded cell, do not edit
print(q4(df))

1.2417282785380945

**Q5: Calculate the total funny votes per reviewer, then average these totals across reviewers.**

In [52]:
#Make sure you return the answer value in this function
def q5(df):
    
    # YOUR CODE HERE
    return np.mean(df.groupby('user_id').sum()['funny_votes'])

    raise NotImplementedError()

In [53]:
#This is an autograded cell, do not edit
print(q5(df))

1.10126486404605

**Q6: Calculate the total useful votes per reviewer, then average these totals across reviewers.**

In [54]:
#Make sure you return the answer in this function
def q6(df):
    
    # YOUR CODE HERE
    return np.mean(df.groupby('user_id').sum()['useful_votes'])

    raise NotImplementedError()

In [55]:
#This is an autograded cell, do not edit
print(q6(df))

2.484476138872867

**Q7: On average, what percentage of a reviewer's votes are cool votes?**

(hint1: calculate the percentage of cool votes for each reviewer, then average across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [56]:
#Make sure you return the answer in this function
#Remember to multiply by 100 for percentages
def q7(df):
    
    # YOUR CODE HERE
    df['total_votes'] = df['cool_votes'] + df['useful_votes'] + df['funny_votes']
    df_clean = df[df['total_votes'] != 0]       #get rid of the 0 total votes
    df_clean = df_clean.groupby('user_id').sum()
    df_clean['percentage_cool(%)'] = (df_clean['cool_votes'] / df_clean['total_votes']) * 100    #calculate the %

    return np.mean(df_clean['percentage_cool(%)'])

    raise NotImplementedError()

In [57]:
#This is an autograded cell, do not edit
#Remember to multiply by 100 for percentages
print(round(q7(df),2))

19.27

**Q8: On average, what percentage of a reviewer's votes are funny votes?**

(hint1: calculate the percentage of funny votes for each reviewer, then average across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [58]:
#Make sure you return the answer in this function
#Remember to multiply by 100 for percentages
def q8(df):
    
    # YOUR CODE HERE
    df['total_votes'] = df['cool_votes'] + df['useful_votes'] + df['funny_votes']
    df_clean = df[df['total_votes'] != 0]       #get rid of the 0 total votes
    df_clean = df_clean.groupby('user_id').sum()
    df_clean['percentage_funny(%)'] = (df_clean['funny_votes'] / df_clean['total_votes']) * 100    #calculate the %

    return np.mean(df_clean['percentage_funny(%)'])

    raise NotImplementedError()

In [59]:
#This is an autograded cell, do not edit
print(round(q8(df),2))

18.26

**Q9: On average, what percentage of a reviewer's votes are useful votes?**

(hint1: calculate the percentage of useful votes for each reviewer, then average across reviewers)

(hint2: you should discard reviewers who have zero total votes from your calculation)

In [60]:
#Make sure you return the answer in this function
def q9(df):
    
    # YOUR CODE HERE
    df['total_votes'] = df['cool_votes'] + df['useful_votes'] + df['funny_votes']
    df_clean = df[df['total_votes'] != 0]       #get rid of the 0 total votes
    df_clean = df_clean.groupby('user_id').sum()
    df_clean['percentage_useful(%)'] = (df_clean['useful_votes'] / df_clean['total_votes']) * 100    #calculate the %

    return np.mean(df_clean['percentage_useful(%)'])

    raise NotImplementedError()

In [61]:
#This is an autograded cell, do not edit
print(round(q9(df),2))

62.47

**Q10: Average review text length (in non-space characters)**

In [62]:
#Make sure you return the answer in this function
def q10(df):
    
    # YOUR CODE HERE
    df['text_len'] = 0
    df['text_len'] = df['text'].str.replace(" ", "").str.len()
    return np.mean(df['text_len'])

    raise NotImplementedError()

In [63]:
#This is an autograded cell, do not edit
print(round(q10(df),0))

499.0

**Q11: Year in which the reviewer wrote the most reviews. Once you have this for each reviewer, subtract the minimum possible year (2004) from each so that your final feature values are 0, 1, 2 etc.**

In [64]:
# YOUR CODE HERE
df['year'] = df['date'].str[:4]     #get the year for each reviewer
df['year'] = pd.to_datetime(df['year']).dt.year
temp = df.groupby(['user_id', 'year']).size().reset_index(name='count')     #get the count of reviews for each reviews in the same year
temp = temp.groupby('user_id').max() #earlier year if duplicated counts (longer time)
temp['year'] = temp['year'] - 2004
temp.columns = ['year', 'counts']
temp = temp.reset_index()
temp
# raise NotImplementedError()

                       user_id  year  counts
0       --1Y03CEKR3WDbBjYnsW7A     7       1
1       --2QZsyXGz1OhiD4-0FQLQ    10       3
2       --82_AVgRBsLw6Dhy8sEnA     4       1
3       --8A9o_NeGyt_3kzlXtSdg    12       2
4       --8WbseBk1NjfPiZWjQ-XQ    12       4
...                        ...   ...     ...
171634  zzv762b871Wp3SVxsFQqHw    11       1
171635  zzvflqB4xAcKFbIbS6HSOw    10      10
171636  zzwu0nG0MCUP43zNSr5k-A    11       1
171637  zzx-JA0qEz5eTO3GMv99NA    11       1
171638  zzyeArRv6I5HpEJlOCOPAQ    12       1

[171639 rows x 3 columns]

**Q12: Come up with a new feature for every review. This may be derived from existing features.
Give your feature the name *my_new_feature.* Display head() of this new feature.**

In [65]:
# YOUR CODE HERE
avg_star_df = df.groupby('user_id').mean()['stars'].reset_index(name='my_new_feature')  #average star of a single business
new_df = df.merge(avg_star_df, on = 'user_id', how = 'left')
new_df.head()
# raise NotImplementedError()

     type             business_id  ...  year  my_new_feature
0  review  mxrXVZWc6PWk81gvOVNOUw  ...  2011        4.000000
1  review  mxrXVZWc6PWk81gvOVNOUw  ...  2011        5.000000
2  review  kK4AzZ0YWI-U2G-paAL7Fg  ...  2011        5.000000
3  review  mxrXVZWc6PWk81gvOVNOUw  ...  2011        5.000000
4  review  mxrXVZWc6PWk81gvOVNOUw  ...  2011        3.470588

[5 rows x 13 columns]