In [1]:
import numpy as np
import pandas as pd

In [3]:
d = {'Quiz Question ID': ["DATA_TRANSFORM1", "KMEANS2", "DATA_TRANSFORM1", "KMEANS2", "DATA_TRANSFORM1", "KMEANS2", "SPECTRAL3"], 
     'Student Name': ["Geoff Hinton", "Geoff Hinton", "Grace Hopper", "Grace Hopper", "Dennis Hopper", "Dennis Hopper", "Dennis Hopper"],
     'Answer Score': [1, 0, 0, 1, 0, 0, 1]}
df = pd.DataFrame(data=d)
df

  Quiz Question ID   Student Name  Answer Score
0  DATA_TRANSFORM1   Geoff Hinton             1
1          KMEANS2   Geoff Hinton             0
2  DATA_TRANSFORM1   Grace Hopper             0
3          KMEANS2   Grace Hopper             1
4  DATA_TRANSFORM1  Dennis Hopper             0
5          KMEANS2  Dennis Hopper             0
6        SPECTRAL3  Dennis Hopper             1

In [ ]:
#population mean
#population sd
#z-score

In [33]:
#percent correct for Geoff Hinton
sum(df[df["Student Name"] == "Geoff Hinton"]["Answer Score"]) / len(df[df["Student Name"] == "Geoff Hinton"]) * 100

50.0